[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit A Better Serial.print() For Arduino | Utopia Mechanicus
Type=Link
URL=http://www.utopiamechanicus.com/article/low-memory-serial-print/
Icon=text-html
